* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer;
}
   
/*   ********** Page 1 **********   */

.p1-head-container {
  padding-bottom: 20px;
}

.p1-header {
  color: white;
  background-color: black;
  text-align: center;
  padding: 25px;
  font-weight: bold; /* it doesnt match, i have to dl font weight package */
}

.p1-header-link {
  color: white;
  cursor: pointer;
}

.navigation-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.navigation-bar-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-bar-menu-container button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border: none;
}

.navigation-bar-container a {
  text-decoration: none;
  color: black;
}

.navigation-bar-sign-up {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#navigation-bar-sign-up-link {
  color: white;
}

.p1-mid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-wrap: yes;
  padding: 50px 10px;
}

.p1-mid-container video {
  max-width: 400px;
  padding-right: 20px;
}

.p1-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.p1-mid-container h1 {
  font-size: 40px;
  font-weight: 600;
  max-width: 550px;
}

.p1-mid-container p {
  max-width: 490px;
  font-size: 18px;
}

.p1-mid-container button {
  background-color: black;
  max-width: fit-content;
  padding: 15px;
  border-radius: 10px;
  align-self: center;
}

.p1-mid-container a {
  text-decoration: none;
  color: white;
}

.p1-foot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.p1-foot-text {
  color: gray;
  text-align: center;
  padding-bottom: 30px;
}

.p1-foot-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.p1-foot-logo {
  max-width: 100px;
}

/*   ********** Page 2 **********   */
